html, body, #root, .react-root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
}

h1.lede {
    margin-bottom: 24px;
    color: black;
    padding: 0;
}

.centered {
    text-align: center;
}

button {
    padding: 16px;
    margin: 8px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 2rem;
}

.red {
    background-color: red;
    color: #fff;
}

.blue {
    background-color: blue;
    color: white;
}

.yellow {
    background-color: yellow;
    color: black;
}

.green {
    background-color: green;
    color: #fff;
}

.brown {
    background-color: brown;
    color: #fff;
}
